trial codes for various CRUD operation in Donor Management System for REACH Development
for  Donoations

need to try /test before implementing the code
* GET Donations records. */
router.get('/', function (req, res, next) {
  const { start, end } = req.query;
  console.log(req.query);
  res.status(200).json({});
});

/ FETCH/get/display all donations  from Donations MOdel
exports.findAll = (req, res) => {
  db.Donations.findAll().then(Donations => {
      // Send All donations to client or dashboard
      res.json(donations);
    }).catch(err => {
      console.log(err);
      res.status(500).json({msg: "error", details: err});
    });
};
 

// / Post all Donoation 
exports.create = (req, res) => {  
  // Save to  database reach-development
// seq model usage

  db.donations.create(req.body).then(donations => {    
      // Send created donations to client
      res.json(donations);
    }).catch(err => {
      console.log(err);
      res.status(500).json({msg: "error", details: err});
    });
};
 
/
// Find a Donation by Id - like donorID/doantionId or doantiondate or doantion amount
exports.findBydonorId = (req, res) => {  
  db.Donationss.findByIdTypeId(req.params.id).then(Donations => {
      res.json(donordonations);
    }).catch(err => {
      console.log(err);
      res.status(500).json({msg: "error", details: err});
    });
};
 
// Update a Donation 
exports.update = (req, res) => {
  const id = req.body.id;
  db.Donations.update( req.body, 
      { where: {id: id} }).then(() => {
        res.status(200).json( { mgs: "Updated Successfully -> DoDonationnor Id = " + id } );
      }).catch(err => {
        console.log(err);
        res.status(500).json({msg: "error", details: err});
      });
};
 
// Delete a Donation by Id
db.Donations.destroy({
      where: { id: id }
    }).then(() => {
      res.status(200).json( { msg: 'Deleted Successfully -> Donations Id = ' + id } );
    }).catch(err => {
      console.log(err);
      res.status(500).json({msg: "error", details: err});
    })
   // 

